  // 例如: .px2rem(height, 80);
.px2rem(@name, @px){
    @{name}: @px / 124.2 * 1rem;
}
//less 设置字体大小
.px2px(@name, @px){
    @{name}: round(@px / 2) * 1px;
  [data-dpr="2"] & {
      @{name}: @px * 1px;
  }
  // for mx3
  [data-dpr="2.5"] & {
      @{name}: round(@px * 2.5 / 2) * 1px;
  }
  // for 小米note
  [data-dpr="2.75"] & {
      @{name}: round(@px * 2.75 / 2) * 1px;
  }
  [data-dpr="3"] & {
      @{name}: round(@px / 2 * 3) * 1px
  }
  // for 三星note4
  [data-dpr="4"] & {
      @{name}: @px * 2px;
  }
}
  /*common less*/
  .l-t-desc {
    .px2rem(padding-left, 70);
    .px2rem(padding-top, 60);
    .en-name {
      display: block;
      color: #cc0000;
      .px2px(font-size, 14);
    }
    .zn-name {
      margin-top: .08rem;
      background: #cc0000;
      .px2px(font-size, 30);
      .px2rem(line-height, 100);
      color: #fff;
      .px2rem(padding-left, 25);
      .px2rem(padding-right, 25);
      .px2rem(padding-top, 15);
      .px2rem(padding-bottom, 15);
    }
  }
  .swiper-slide {
    position: relative;
  }
  .swiper-slide .p-img {
    .px2rem(padding-left, 100);
    .px2rem(padding-right, 100);
    .px2rem(padding-top, 90);
    text-align: justify;
  }
  .swiper-slide .p-img-t {
    .px2rem(padding-left, 70);
    .px2rem(padding-right, 70);
    .px2rem(padding-top, 90);
    text-align: justify;
  }
  .swiper-slide .p-img-t1 {
    .px2rem(padding-top, 90);
    text-align: justify;
  }
  .center {
    text-align: center;
  }
  /*end common*/
  @keyframes ani-arrow {
    0% {
      bottom: 1%;
    }
    50% {
      bottom: 2%;
    }
    100% {
      bottom: 1%;
    }
  }
  @keyframes fu-cir {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .arrow {
    .px2rem(width, 80);
    .px2rem(height, 42);
    background: url("../img/arrow.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    z-index: 99;
    bottom: 1%;
    left: 50%;
    .px2rem(margin-left, -40);
    animation: ani-arrow 2s infinite ease-in-out;
  }
  .loading {
    width: 100%;
    height: 100%;
    background: #fff5bf;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
  }
  .card {
    width: 4rem;
    height: 4rem;
    margin: 50% auto;
    .plus-text {
      text-align: center;
      margin-top: .5rem;
      .px2px(font-size, 40);
    }
  }
  .bg-cover {
    background: url("../img/bg-cover.jpg") no-repeat;
    background-size: 100% 100%;
  }
  .bg-page {
    background: url("../img/bg-pages.jpg") no-repeat;
    background-size: 100% 100%;
  }
  .page1 {
    .p1-year, .p1-text, .p1-bt {
      margin: 1.61rem auto 0;
    }
    .p1-text {
      width: 60%;
      margin-top: 1.2rem;
      .px2px(font-size, 36);
      line-height: 1.4em;
      text-indent: 2em;
    }
    .p1-bt {
      margin-top: 3rem;
    }
  }
  .page3 {
    .p-text {
      .px2rem(padding-top, 60);
      .px2px(font-size, 36);
      line-height: 1.4em;
    }
    .p3-img {
      .px2rem(padding-top, 60);
      float: right;
    }
    .p5-place {
      text-align: center;
      color: #cc0000;
      .px2px(font-size, 33);
      font-weight: bolder;
      .px2rem(margin-top, 20);
    }
    .p14-img {
      width: 70%;
      margin: 0 auto;
    }
  }
  .fu-img {
    animation: fu-cir 5s infinite linear;
  }
  @-moz-keyframes throbber-loader {
    0% {
      background: #dde2e7;
    }
    10% {
      background: #6b9dc8;
    }
    40% {
      background: #dde2e7;
    }
  }
  @-webkit-keyframes throbber-loader {
    0% {
      background: #dde2e7;
    }
    10% {
      background: #6b9dc8;
    }
    40% {
      background: #dde2e7;
    }
  }
  @keyframes throbber-loader {
    0% {
      background: #dde2e7;
    }
    10% {
      background: #6b9dc8;
    }
    40% {
      background: #dde2e7;
    }
  }
  /* :not(:required) hides these rules from IE9 and below */
  .throbber-loader:not(:required) {
    -moz-animation: throbber-loader 2000ms 300ms infinite ease-out;
    -webkit-animation: throbber-loader 2000ms 300ms infinite ease-out;
    animation: throbber-loader 2000ms 300ms infinite ease-out;
    background: #dde2e7;
    display: inline-block;
    position: relative;
    text-indent: -9999px;
    width: 1.5em;
    height: 3em;
    margin: 0 5em;
  }
  .throbber-loader:not(:required):before, .throbber-loader:not(:required):after {
    background: #dde2e7;
    content: '\x200B';
    display: inline-block;
    width: 1.5em;
    height: 3em;
    position: absolute;
    top: 0;
  }
  .throbber-loader:not(:required):before {
    -moz-animation: throbber-loader 2000ms 150ms infinite ease-out;
    -webkit-animation: throbber-loader 2000ms 150ms infinite ease-out;
    animation: throbber-loader 2000ms 150ms infinite ease-out;
    left: -3em;
  }
  .throbber-loader:not(:required):after {
    -moz-animation: throbber-loader 2000ms 450ms infinite ease-out;
    -webkit-animation: throbber-loader 2000ms 450ms infinite ease-out;
    animation: throbber-loader 2000ms 450ms infinite ease-out;
    right: -3em;
  }

